body {
    padding-top: 0px;
}

@media (min-width: 992px) {
    body {
        padding-top: 0px;
    }
}

body{ 
    background: url(~/Content/images/background/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*CSS settings for the front page*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#row-section {
    margin: 40px;
}

#greyArea {
    padding: 70px;
    /*background-image: url("images/small_images/ask.jpg");*/
    display: table;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/small_images/ask.jpg');
    background-position: center top;
    color: white;
}

.button-row {
    margin: 20px;
}

/*Floating images*/
.banner-holder {
    position: relative;
    display: block;
}

.plus-image {
    left: 7%;
    top: 70%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

#motivationalText {
    background: green;
    overflow: hidden;
    color: white;
    font-family: Open sans;
}

/* Hidden DIV elements */

#secretDiv {
    display: none;
}
.ParaFormat {
    text-align: justify; 
    line-height: 1.8;
}

.borderedImage {
    border-style: double;
    padding: 14px;
    background-color: #d1e7f4;
}

/* ------    Banner Wrapper  ----------*/

#bannerWrapper {
    margin: 0;
    padding: 0;
    display: block;
    background: black;
}

#wrap img{
    position:absolute;
    top:0;
    display:none;
    width:100%;
    height:100%;
}
.transition{
    transition:10s;
}
.scaleme{
    transition:10s;
    transform:scale(1.3);
}

/**   The stylish ckeck mark*/
ul.checkmark li {
    /*font-size: 13px; this determines the size of the list text and therefore checkmark size*/ 
    list-style-type: none; /* remove default list style*/
    margin-bottom: 1em; /* lists need to be able to breathe*/
    padding: 0.25em 0 0 2.5em; /* make room for the circle*/
    position: relative; /* because we want to position the circle in an absolute fashion*/
}

ul.checkmark li:before {
    content: " "; /* the circle itself is empty*/
    display: block;
    border: solid 0.8em #660a5e; /* create a colored area...*/
    border-radius: .8em; /* ... and turn it into a circle*/
    height: 0;
    width: 0;
    position: absolute; /* the circle is then put into place*/
    left: 0.5em;
    top: 40%; 
    margin-top: -0.5em;
}

ul.checkmark li:after {
    content: " ";
    display: block;
    width: 0.3em; /* the short bar of the mark is half as long as the long bar*/
    height: 0.6em;
    border: solid white;
    border-width: 0 0.2em 0.2em 0; /* creates the inverted "L" shape*/
    position: absolute;
    left: 1em;
    top: 40%;
    margin-top: -0.2em;
    -webkit-transform: rotate(45deg); /* tilts the shape*/
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**New background design*/

.background {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: white;
}