@model dynamic

    @{
        ViewBag.Title = "Courses";
    }

    <h2>COURSES</h2>

<br />

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="~/Content/images/Courses/learn_Banner.jpg" class="img-responsive"/>
    </div>
</div>
<br/>
<h3>Advanced trading strategies course</h3>
<br />

<div class="row">
    <div class="col-lg-12">
        <h3><b>Take your trading to new heights</b></h3>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/images/Courses/course_1.jpg" class="img-responsive borderedImage" style="width: 100px; height: 150px;" />
    </div>
    <div class="col-lg-8">
        <h3 class="ParaFormat">
            The Advanced Trading Strategies Course will support you in mastering the advanced techniques required to fine tune your trading to achieve even greater profits.
            For those seeking a professional approach to trading that supports you to achieve your financial goals, we guarantee you the highest quality education today at Train to trade.
        </h3>
    </div>
</div>





<div class="row">
    <div class="col-xs-12">
        <h3><b>Course content</b></h3>
    </div>
    <div class="col-xs-12">
        <h4><b>Apply Elliott Wave Strategies to forex Trading</b></h4>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li>Understand how Elliott wave unfolds in both a bull and bear market</li>
                <li>Trading rules applicable to each Elliott wave</li>
                <li>The law of alternation</li>
                <li>Calculate the length of each wave as it unfolds</li>
                <li>Strategies for applying Elliott Wave Theory</li>
                <li>Combining Elliott Wave Theory with price and pattern</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/images/Courses/course_1.jpg" class="img-responsive borderedImage" style="width: 100px; height: 150px;" />
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <h3><b>Manage the Psychology of Share Trading</b></h3>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
            <ul>
                <li>Achieving peak performance</li>
                <li>Goal setting</li>
                <li>Understanding the stages of learning</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <ul>
                <li>Common psychological factors affecting traders</li>
                <li>Learning about your psychological makeup</li>
                <li>Establishing your trading environment</li>
            </ul>

        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <ul>
                <li>Combining the emotions of trading with a mechanical trading system</li>
            </ul>

        </div>
    </div>
    <div class="col-lg-12">
        
    </div>
</div>



<div class="row col-12">
    <h3>Understanding the markets</h3>
    <br />
    <p class="ParaFormat">
        Presented in a simple and effective manner that delivers results, the Short Course in Share Trading demystifies the stock market, teaching you techniques and strategies you can use immediately, thus enabling you to take control of your financial future.
        Designed and taught by investment professionals with over 30 years combined experience in the stock market, every strategy has been tested and refined over many years to ensure your success is guaranteed.
        If you don't like gambling with your money and you want to take the risk out of the share market to build sustainable long term wealth, then look no further! You will learn proven techniques and strategies that will give you the confidence to safely and profitably trade the share market.

    </p>
    <h5>Understanding technical analysis</h5>
    <h5>Understanding fundamental analysis</h5>
    <h5>Key trading strategies</h5>
    <h5>Key elements of a successful trading plan</h5>
    <h5>Trading software</h5>
    <h5>Setting up a trading account</h5>
    <h5>Using leverage to trade</h5>
</div>

<div class="row col-12">
    
    <h5><b>At the completion of the short course you will:</b></h5>
    <br/>
    <ul>
        <li>Have a workable profitable trading plan</li>
        <li>Understand and know how to use technical and fundamental analysis</li>
        <li>Understand how to analyse and use bar, candlestick, and Gann swing charts</li>
        <li>Know how to analyse volume to understand the market sentiment</li>
        <li>Understand trends and safely use trend trading methodologies to profit from the market</li>
        <li>Understand a variety of entry and exit trading techniques and know which ones to use for different stocks</li>
        <li>Be able to implement and act on money management rules to protect your capital</li>
        <li>Have the tools and ratios required to determine your overall profitability</li>
        <li>Trade over the short, medium and long term</li>
        <li>Understand how to trade in bull and bear markets</li>
        <li>Plus a whole lot more that will ensure you achieve your financial goals</li>
        
    </ul>

</div>

