@{
    ViewBag.Title = "Home Page";
}
<!-- Heading Row -->
<div class="row">
    <div class="col-lg-8">
        <div class="carousel-inner">
            <div class="item">
                <img src="http://ad.doubleclick.net/ad/N7384.734586.CARBONADS.NET1/B7706802;sz=130x100;ord=1386386586713?" alt="AAA">
            </div>
            <div class="item">
                <img src="http://static.carbonads.com/Advertisers/d323fc4ea13943d2b1d9f900b53b0319.png" alt="BBB">
            </div>
            <div class="item">
                <img src="http://static.carbonads.com/Advertisers/509d88c7c24d46099c4e589cf4514d05.png" alt="CCC">
            </div>
            <div class="item">
                <img src="http://static.carbonads.com/Advertisers/7e4d6efa3bbd47e88a31f6af61a394a2.png" alt="DDD">
            </div>
            <div class="active item">
                <img src="http://static.carbonads.com/Advertisers/12ff503934b04fc5b5a459ea19bf117e.png" alt="EEE">
            </div>
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4 col-xs-12 col-sm-12">
        <h1>Train To Trade</h1>
        <p style="height: 140px;">
            <marquee behavior="scroll" direction="up">
                <ul>
                    <li>Here is some scrolling text... going up! ...........1................This is it</li><br />
                    <li>Here is some scrolling text... going up! ...........2................This is it</li><br />
                    <li>Here is some scrolling text... going up! ...........3................This is it</li><br />
                    <li>Here is some scrolling text... going up! ...........4................This is it</li>
                </ul>
            </marquee>
        </p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card One</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card Two</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card Three</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
    </div>
<!-- /.container -->