@{
    ViewBag.Title = "Home Page";
}
<!-- Heading Row -->
<div class="row my-4">
    <div class="col-lg-8">
        <img class="img-fluid rounded" src="~/Content/images/banner/banner_3.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <h1 style="font-family:'Times New Roman', Times, serif;">Train to Trade</h1>
        <p>A leading forex trade training organization geared to improve your life skill in the fast growing industry of forex trading.</p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->



<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
    <div class="row col-xs-12" style="text-align: center; vertical-align: middle;">
        <h4>
            <p class="typewrite text-light bg-dark" style="float:right;" data-period="2000" data-type='[ "Welcome !!!, to Train To Trade", "We are here to take you to the next level with your investment", "Remember anyone can trade but only the best can make profit out of it", "Please do not hesitate, give us a call or send us an email for more info..." ]'>
                <span class="wrap"></span>
            </p>
        </h4>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 style="font-family:'Times New Roman', Times, serif;">Courses</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 style="font-family:'Times New Roman', Times, serif;" class="card-title">Training</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="font-family:'Times New Roman', Times, serif;">Booking</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->


<!-- row - Questions -->
<div class="row">

    <h1 style="font-family:'Times New Roman', Times, serif;">Questions</h1>

</div>
<!-- /.row End Questions-->




</div>
<!-- /.container -->