@{
    ViewBag.Title = "Home Page";
}
<!-- Heading Row -->
<div class="row">
    <div id="bannerSet" class="col-lg-8 box" style="border-radius: 15px; border: 1px solid #73AD21;">
        <div id="wrap">
            <img src="~/Content/images/banner/banner_1a.jpg" />
            <img src="~/Content/images/banner/banner_2a.jpg" />
            <img src="~/Content/images/banner/banner_3a.jpg" />
        </div>
    </div>

    <!-- /.col-lg-8 -->
    <div class="col-lg-4 col-xs-12 col-sm-12">
        <h1>Train To Trade</h1>
        <p style="height: 200px;">
            <marquee behavior="scroll" direction="up">
                <ul>
                    <li>Here is some scrolling text... going up! ...........1................This is it</li><br />
                    <li>Here is some scrolling text... going up! ...........2................This is it</li><br />
                    <li>Here is some scrolling text... going up! ...........3................This is it</li><br />
                    <li>Here is some scrolling text... going up! ...........4................This is it</li>
                </ul>
            </marquee>
        </p>
        
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card One</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card ttttTwo</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Card Three</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- /.container -->