@{
    ViewBag.Title = "Home Page";
}
<!-- Heading Row -->
<div class="row my-4">
    <div class="col-lg-8">
        <img class="img-fluid rounded" src="~/Content/images/banner/banner_3.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <h1 style="font-family:'Times New Roman', Times, serif;">Train to Trade</h1>
        <p class="ParaFormat">
            The forex trading is a fascinating world and a world in which opportunities exist to make an income (either part time or full time) using technical trading. An increasing number of people are realizing that their financial future and their financial freedom is really in their own hands. However, financial trading is a zero sum game and thus, taking more control of your money successfully, requires education, coaching and support, as well as solid and impartial advice. Couple this with powerful tools, and individual investors can now enjoy the same competitive advantage that the big guys have had for years.
        </p>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
        <p class="typewrite text-white m-0" style="text-shadow: 0 1px black;" data-type='[ "Welcome !!!, to Train To Trade", "We are here to take you to the next level with your investment", "Remember anyone can trade but only the best can make profit out of it", "Please do not hesitate, give us a call or send us an email for more info..." ]'>></p>
    </div>
</div>
<div class="container">
    <!-- Main Body Content-->
    <h2>WELCOME</h2>
    <br />
    <p class="ParaFormat">
        At <b>Train to Trade (TTT)</b> we provide a start to finish, turn-key solution for everyday people who are either looking to invest or trade on the forex or stock market successfully, or looking for peace of mind and more control over their trading and investing. We are one of the tested trading training providers. Here we help traders to be able to distinguish high probability trade setups and the ones traders should ignore. With our technical experts in the field of trading we can give you good trading foundation as well as trading tips.
        Unlike most educators, we offer ongoing support, coaching, mentoring and advisory services to our clients. Our education programs are not the finish line, they are where our partnership with you begins. At our very core is the belief that a better financial future is possible for just about anyone, and this belief has held true since we started educating every day South Africans.
    </p>

    <div class="row">
        <div>
            <div class="row col-md-12 row-section" style="margin-top: 20px;">
                <div class="col-md-12">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <img src="~/Content/images/small_images/experience.png" class="img-responsive img-circle" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-12">
                        <h2>
                            <span style="font-family: Spoiler; font-size: 30px;">FOREX TRADING SECRET</span>
                        </h2>
                        <h5 style="padding-left: 10px;">Enjoy extra income, and gain financial security by learning this great profession</h5>
                        <p class="ParaFormat" style="padding-left: 10px;">How do I become a successful forex trader? Here is your answer: Successful day traders utilise practical, proven trading strategies. You need to enter the markets with a well-developed trading plan. Are you interested in learning about the best forex trading strategies?</p>
                        <button type="button" class="btn btn-success" onclick="myHidding()">Learn-More</button><br />

                    </div>
                </div>
            </div>
        </div>
        <div class="row col-xs-12" id="secretDiv">
            <p class="ParaFormat">
                Gain your financial freedom by using these proven Forex strategies. Are you ready to start utilising them? The best way to learn how to put these Forex trading strategies to work and start implementing them for your own financial gain is to attend one of our Train to Trade’s introductory Forex courses. Register for the next session in your area today and learn what it takes to become successful from real, experienced traders. Our workshops offer new and inexperienced traders valuable insights into proven trading strategies and how successful traders utilise them to maximise their income. With just a $100 in your trading account we can make you make upto $500 per day. Join the group of experts and gain your financial freedom. We build millionaires. Try us.
                Start learning today!Register Here.
            </p>
        </div>
        <br />
        <div id="row-section col-md-12">
            <div class="row row-section">
                <div class="col-xs-12">
                    <div class="col-lg-8 col-md-8 col-xs-12">
                        <h2>
                            <span style="font-family: Spoiler; font-size: 30px;">OUR SPECIALITY</span>
                        </h2>
                        <p class="ParaFormat">
                            We specialise in forex, stocks, bitcoins, commodities, options and futures courses. At Train to Trade we have a group of experts who can help people already trading or beginners without the
                            knowhow of trading. We offer three different learning options; group workshops / classrooms, self-home study, or one-on-one with an experienced day trading mentor at your own pace. We also
                            connect our clients with reputable, affordable trading companies at a discount.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <img src="~/Content/images/small_images/Trade_1.jpg" class="img-responsive img-circle" />
                    </div>

                </div>
            </div>
        </div>
        <br />

        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <img src="~/Content/images/small_images/forex.jpg" class="img-circle img-responsive" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2>
                        <span style="font-family: Spoiler; font-size: 30px;">WHAT YOU WILL GAIN</span>
                    </h2>
                    <p class="ParaFormat">
                        We specialise in forex, stocks, bitcoins, commodities, options and futures courses. At Train to Trade we have a group of experts who can help people already trading or beginners without the
                        knowhow of trading. We offer three different learning options; group workshops / classrooms, self-home study, or one-on-one with an experienced day trading mentor at your own pace. We also
                        connect our clients with reputable, affordable trading companies at a discount.
                    </p>
                </div>
            </div>
        </div>

        <br />
        <br />
        <!-- Sectional Content Row -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 style="font-family:'Times New Roman', Times, serif;">Courses</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 style="font-family:'Times New Roman', Times, serif;" class="card-title">Training</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family:'Times New Roman', Times, serif;">Booking</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <br />
        <br />
        <!-- FAQ - row -->
        <div class="row">
                <h1 class="text-center" style="text-shadow: 0 3px black; text-align: center;">Frequently Asked Questions</h1>
        </div>
        <!-- /   FAQ - row -->

        <br /><br />

        <div class="row col-md-12">
            <div class="col-md-12" id="greyArea">
                <h2><b> * What is Train To Trade All About ?</b></h2>
                <p>
                    People often turn to day trading to achieve financial freedom, but the learning process can be overwhelming. Train To Trade Trading Academy is the solution to ease your access to the stock markets. Train To Trade’s academy’s task is to help people acquire the skills needed in day trading. However, only a handful academies offer the best day trading courses, and Train To Trade is one of the leaders.
                </p>
                <h2><b>* What is Train To Trade Academy and How Does It Help You?</b></h2>
                <p>
                    Day trading isn’t for everyone and trying to learn on your own often cause frustrations. Train to Trade academy is an institute dedicated to training people in stocks, investments, forex and the like. If you’re challenged by day trading, then it is better to seek the help of a well-known trading academy. You can learn investment strategies and even get coached by professional stock traders. The knowledge you’ll gain in a <b>Train to Trade Academy</b> will eventually benefit you in the long run.
                </p>
                <h2><b>* Why Train To Trade Is the Best Trading Academy for you?</b></h2>
                <p>
                    Train To Trade Academy founded by professional trader Taurayi Sihamba, a country-wide known veteran day trader. Since 2004, Mr. Sihamba has trained thousands of successful day traders around South Africa. Train To Trade Academy offers the best free day trading course, and conducts a live mentorship program headed by Taurayi Sihamba himself.
                </p>
                <blockquote>
                    <h4 style="text-align: center;"><strong><span style="font-family: Spoiler;">Mission Statement: Enriching lives worldwide with exceptional financial education.</span></strong></h4>
                </blockquote>
            </div>
        </div>
        <hr />
        <div class="row col-md-12">
            <div class="col-lg-5">
                <h2><span style="font-family: Spoiler; font-size: 30px;">Like to know more about Train to Trade on a Personal Note?</span></h2>
                <p>If you have any questions about joining our courses, funded accounts programs, trading room or anything else, please contact us here and one of our team members will come back to you as soon as possible.</p>
            </div>
            <div class="col-lg-7">
                <form>
                    <div class="row button-row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <label class="col-form-label" for="fnameTxt">First Name: *</label>
                            <input type="text" id="fnameTxt" class="form-control" placeholder="First name">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <label class="col-form-label" for="lnameTxt">Last Name: *</label>
                            <input type="text" id="lnameTxt" class="form-control" placeholder="Last name: *">
                        </div>
                    </div>
                    <div class="row button-row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <label class="col-form-label" for="emailTxt">Email: *</label>
                            <input type="text" id="emailTxt" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <label class="col-form-label" for="phoneTxt">Phone: *</label>
                            <input type="text" id="phoneTxt" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="row button-row ">
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div><!-- /End Main Body Content -->
<!-- /.container -->